@namespace Blaztrap.Controls
@inherits BzControl

<div class="modal" tabindex="-1" @ref="Element" @attributes="InputAttributes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @Header
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>